@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  :focus{
      outline: none;}
      
 

  * {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 160%;
	background-color: #C0C0C0;
}

ul, ol {
    list-style: none;
}
.contenedor {
    width: 70em;
    max-width: 70em;
    margin: 0 auto;
    background: #D2691E;
    overflow: hidden;
}

#header {	
    border: solid #000000;
    z-index: 10;
    margin-bottom: 10px;
    margin-top: -1px;
    height: 70px;
    width: 70em;
    position: fixed;
    font-family: 'Open Sans Condensed', sans-serif;
    background: #D2691E;
}

form {
	width: 750px;
	height: 600px;
	margin: auto;
	background: rgba(0,0,0,0);
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 7px;
    position: relative;
}

h1 {
font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	color: #fff;
	text-align: center;
	margin: 0;
	font-family: 'Open Sans Condensed';
	font-size: 30px;
	margin-bottom: 20px;

}

h3 {
    font-size: 30px;
    margin-left: 5%;
}

input, textarea {
	width: 100%;
	padding: 5px;
	font-size: 17px;
	border: solid;
}

textarea {
	min-height: 120px;
	max-height: 200px;
	max-width: 100%;
}

.separador {
background-color: #ccc;
height: 5px;
width: 100%;
border: 5px yellow;
top: 120px;
margin-bottom: 30px;
box-sizing: border-box;
}

.agrupar {
    border: 1px solid black;
    background: white;
    height: 43em; 
    width: 70em;
    margin: auto;
    display: block;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    }

/*.agrupar h1 {
text-align: left;
font-size: 70px;
position: relative;
display: inline-block;
}

.agrupar h2 {
text-align: left;
font-size: 30px;
position: relative;
display: inline-block;
}*/



    .logo {
        border-bottom: solid #000000;
        border-right: solid #000000;
        border-left: solid #000000;
        margin-right: 40px;
        margin-left: -3px;
        margin-top: 0px;;
        height: 90px;
        width: 180px;
        float: left;
        
        }

.main {
    margin-top: 20px;
    margin-left: 591px;
    display: inline-block;
    position: absolute;
}

.main-nav {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    margin-top: 15px;
    height: 40px;
    width: 79%;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
    box-sizing: border-box;
    }
    
    .main-nav-item {
        padding: 0px 50px;
    
    }
    
    .main-nav li a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    
    .main-nav > li {
        float: left;
    }
    
    .main-nav li a:hover {
        background-color: #D2691E;
        color: black;
    }
    
    .main-nav li ul {
        display: none;
        position: absolute;
        min-width: 120px;
    }
    
    .main-nav li:hover > ul {
        display: block;
    }
    
    .main-nav li ul li {
        position: relative;
    
    }
    
    .main-nav li ul li ul {
        right: -120px;
        top: 0px;
    }
    
    .main-nav ul {
        margin: auto;
    }
    
    .submenu {
    background: #D2691E;
    color: white;
    }
    
    
    .main-nav-1 {
    margin-left: 8%;
    margin-right: 50px;
    display: inline-block;
    position: relative;
    text-align: left;
    float: left;
    }
    
    .main-nav-2 {
    color: black;
    margin-top: 5px;
    padding: 0px 50px;
    display: inline-block;
    position: relative;
    float: left;
    
    }
    
    .main-nav-2 li {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    }
    
    .main-nav-2 ul {
        margin-left: 45px;
    }
    
    .main-nav-3 {
    color: black;
    margin-top: 5px;
    padding: 0px 50px;
    display: inline-block;
    position: relative;
    float: left;
    
    }
    
    .main-nav-3 li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 57px;
    }
    
    .main-nav-3 ul {
        margin-left: 40px;
    }
    
    .main-nav-4 {
    color: black;
    display: inline-block;
    position: relative;
    float: left;
    }
    
    .main-nav-4 li {
    list-style: none;
    font-size: 18px;
    padding: 0px 40px;
    }
    
    .main-nav-4 ul {
        margin-left: 92px;
    }
    
    .main-nav-2__item-1 {
     list-style: none;
     color: black;
     padding: 0px 93px;
     margin-top: 5px;
     position: relative;
     display: table-cell;
    }
    
    .main-nav-2__item-2 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 105px;
     margin-top: 5px;
     position: relative;
     display: table-cell;
    }
    .main-nav-2__item-3 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 90px;
     margin-top: 5px;
     position: relative;
     display: table-cell;
    }
    
    .main-nav-3__item-1 {
     text-align: center;
     list-style: none;
     color: black;
     position: relative;
     display: table-cell;
    }
    
    .main-nav-3__item-2 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 90px;
     position: relative;
     display: table-cell;
    }
    .main-nav-3__item-3 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 150px;
     position: relative;
     display: table-cell;
    }
    
    .main-nav-4__item-1 {
     text-align: center;
     list-style: none;
     color: black;
     position: relative;
     display: table-cell;
    }
    
    .main-nav-4__item-2 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 90px;
     position: relative;
     display: table-cell;
    }
    .main-nav-4__item-3 {
     text-align: center;
     list-style: none;
     color: black;
     padding: 0px 100px;
     position: relative;
     display: table-cell;
    }
    


.form-title {
	font-weight: bold;
	color: #D2691E;
}

.form-title span {
	font-weight: normal;
	color: #202020;
}


.bottom {
	margin-bottom: 15px;

}

.bottom2 {
	margin-bottom: 5px;

}

#boton {
	background: #31384A;
	color: #fff;
	padding: 20px;
}

#boton:hover {
	cursor: pointer;
}

footer {    
    background: #202020;
    color: white;
    padding: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.colum1,
.colum2 {
    padding: 20px;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
    font-size: 20px;
}

.row img {
    width: 30px;
    height: 30px;
}

.footer-1 {
    margin-bottom: 20px; /* Espacio entre footer-1 y footer-2 */
}

.footer-2 {
    display: flex;
    justify-content: space-evenly;
    background: #202020;
    color: white;
    padding: 20px;
}

.information {
    max-width: 35em;
}

.information a {
    text-decoration: none;
    color: #C7C7C7;
}

.copyright {
    max-width: 35em;
    color: #C7C7C7;
}

.copyright a {
    color: white;    
    font-weight: bold;
}

.copyright p {
    color: white;
}

.image-2 {
    height: 600px;
    width: 85%;
    border-radius: 20px;
    position: absolute;
    display:block;
    object-fit: cover;
    z-index: 0;
    }


main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 0px;
}
  
  /* FORMULARIO =================================== */
  
  .form_wrap{
      width: 1050px;
      height: 580px;
      margin: 50px auto;
      display: flex;
  
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Informacion de Contacto*/
  
  .contact_info::before{
      content: '';
      width: 100%;
      height: 100%;
  
      position: absolute;
      top: 0;
      left: 0;
  
      background: #D2691E;
      opacity: 0.9;
  }
  
  .contact_info{
      width: 38%;
      position: relative;
      margin-top: 45px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      background-image: url('../img/fondo.jpg');
      background-size: cover;
      background-position: center center;
  
  }
  
  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: #fff;
  }
  
  .info_title{
      line-height: 50px;
      margin-bottom: 60px;
  }
  
  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }
  
  .info_title h2{
      font-size: 35px;
      text-align: center;
  }
  
  .info_items p{
      display: flex;
      align-items: center;
  
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
  }
  
  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
  }
  
  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
  }
  
  
  /* Formulario de contacto*/
  form.form_contact{
      margin-top: 45px;
      width: 62%;
      padding: 30px 40px;
  }
  
  form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
  }
  
  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
  }
  
  form.form_contact label{
      font-weight: 600;
  }
  
  form.form_contact input,
  form.form_contact textarea{
      width: 100%;
      padding: 8px 0px 5px;
      margin-bottom: 20px;
  
      border: none;
      border-bottom: 2px solid #D1D1D1;
  
      font-family: 'Open sans condensed';
      color: #5A5A5A;
      font-size: 14px;
      font-weight: 400;
  }
  
  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
  }
  
  form.form_contact input[type="submit"]{
      width: 180px;
      background: #D2691E;
      padding: 10px;
      border: none;
      border-radius: 25px;
  
      align-self: flex-end;
  
      color: #fff;
      font-family: 'Open sans condensed';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
  
  form.form_contact input[type="submit"]:hover{
      background: #ee974f;
  }
  
  /* Ventana de errores*/
  .modal_wrap{
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);
  
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
  
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .mensaje_modal{
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      width: 400px;
      padding: 30px 20px 15px;
  }
  
  .mensaje_modal h3{
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
  }
  
  .mensaje_modal h3:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
  }
  
  .mensaje_modal p{
      font-size: 16px;
      color: #606060;
  }
  
  .mensaje_modal p:before{
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      color: #E25151;
      margin-right: 8px;
  }
  
  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;
  
      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
  }
  
.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    color: #D2691E;
    font-size: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 80px 0 40px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #D2691E;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
    
}

@media (max-width: 480px) {
	form {
		width: 100%;

	}
}